<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Dhruv" value="Tanna"></add>
    <add key="1" value="1"></add>
    <add key="2" value="2"></add>
    <add key="3" value="3"></add>
    <add key="4" value="4"></add>
    <add key="5" value="5"></add>
    <add key="6" value="6"></add>
    <add key="7" value="7"></add>
    <add key="8" value="8"></add>
    <add key="9" value="9"></add>
    <add key="10" value="10"></add>
    <add key="11" value="11"></add>
    <add key="12" value="12"></add>
    <add key="13" value="13"></add>
    <add key="14" value="14"></add>
    <add key="15" value="15"></add>
    <add key="16" value="16"></add>
    <add key="17" value="17"></add>
    <add key="18" value="18"></add>
    <add key="19" value="19"></add>
    <add key="20" value="20"></add>
    <add key="21" value="21"></add>
    <add key="22" value="22"></add>
    <add key="23" value="23"></add>
    <add key="24" value="24"></add>
    <add key="25" value="25"></add>
    <add key="26" value="26"></add>
    <add key="27" value="27"></add>
    <add key="28" value="28"></add>
    <add key="29" value="29"></add>
    <add key="30" value="30"></add>
    <add key="31" value="31"></add>
    <add key="32" value="32"></add>
    <add key="33" value="33"></add>
  </appSettings>
</configuration>